<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2-1">
            <!--== USER INFO ==-->
            <div class="sb2-12 mt-59">
                <ul>
                    <li><img src="assets/images/placeholder.jpg" alt="">
                    </li>
                    <li>
                        <h5>Ashutosh Bhatt<span> Student</span></h5>
                    </li>
                    <li></li>
                </ul>
            </div>
            <!--== LEFT MENU ==-->
            <div class="sb2-13">
                
                <ul class="collapsible" data-collapsible="accordion">
                    <li><a routerLink="/Dashboard" class="menu-active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    
                    <li><a routerLink="" class="collapsible-header"><i class="fa fa-pencil" aria-hidden="true"></i> Classes</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a routerLink="classes/AllClasses">All Classes</a></li>
                                <li><a routerLink="classes/Add">Add New Class</a></li>
                               
                            </ul>
                            
                        </div>
                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-users" aria-hidden="true"></i> All Courses</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-user-all.html">All Courses</a>
                                </li>
                                <li><a href="admin-user-add.html">Add New Course</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="admin-all-enquiry.html"><i class="fa fa-commenting-o" aria-hidden="true"></i> Enquiry</a>

                    </li>
                    <li><a href="javascript:void(0)" class="collapsible-header"><i class="fa fa-cloud-download" aria-hidden="true"></i> Import & Export</a>
                        <div class="collapsible-body left-sub-menu">
                            <ul>
                                <li><a href="admin-export-data.html">Export all datas</a>
                                </li>
                                <li><a href="admin-import-data.html">Import all datas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>    
    